<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/webiarch/product-slider-zoom/jquery.elevatezoom.js" type="text/javascript"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<link href="catalog/view/theme/maxdino/stylesheet/stylesheet.css" rel="stylesheet">
 <!--right to left (RTL)-->
        {% if direction=='rtl' %} <link href="catalog/view/theme/maxdino/stylesheet/rtl.css" rel="stylesheet"> {% endif %}
 <!--over RTL-->

<script src="catalog/view/javascript/webiarch/custom.js" type="text/javascript"></script>
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}

<svg style="display: none;">
    <symbol id="cart" viewBox="0 0 459.529 459.529">    
      <path d="M17,55.231h48.733l69.417,251.033c1.983,7.367,8.783,12.467,16.433,12.467h213.35c6.8,0,12.75-3.967,15.583-10.2
      l77.633-178.5c2.267-5.383,1.7-11.333-1.417-16.15c-3.117-4.817-8.5-7.65-14.167-7.65H206.833c-9.35,0-17,7.65-17,17
      s7.65,17,17,17H416.5l-62.9,144.5H164.333L94.917,33.698c-1.983-7.367-8.783-12.467-16.433-12.467H17c-9.35,0-17,7.65-17,17
      S7.65,55.231,17,55.231z"/>
    <path d="M135.433,438.298c21.25,0,38.533-17.283,38.533-38.533s-17.283-38.533-38.533-38.533S96.9,378.514,96.9,399.764
      S114.183,438.298,135.433,438.298z"/>
    <path d="M376.267,438.298c0.85,0,1.983,0,2.833,0c10.2-0.85,19.55-5.383,26.35-13.317c6.8-7.65,9.917-17.567,9.35-28.05
      c-1.417-20.967-19.833-37.117-41.083-35.7c-21.25,1.417-37.117,20.117-35.7,41.083
      C339.433,422.431,356.15,438.298,376.267,438.298z"/>
    </symbol>
  </svg>
</head>
<body>
<nav id="top">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 pull-left hidden-xs">
        {{ header_left }}
      </div>
    <div id="top-links" class="text-right col-sm-8 col-xs-12">
      <ul class="list-inline">
        <li>{{ currency }}</li>
        <li class="lang">{{ language }}</li>
        <!-- <li><a href="{{ contact }}"><i class="fa fa-phone"></i></a> <span class="hidden-xs hidden-sm hidden-md">{{ telephone }}</span></li> -->
        <li class="dropdown"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown"><img src="image/catalog/header/user.png" class="usr"> <span class="hidden-xs">{{ text_account }}</span> <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu dropdown-menu-right userdrop">
            {% if logged %}
            <li><a href="{{ account }}"><i class="fa fa-user"></i>{{ text_account }}</a></li>
            <li><a href="{{ order }}"><i class="fa fa-history"></i>{{ text_order }}</a></li>
            <li><a href="{{ transaction }}"><i class="fa fa-exchange"></i>{{ text_transaction }}</a></li>
            <li><a href="{{ download }}"><i class="fa fa-download"></i>{{ text_download }}</a></li>
            <li><a href="{{ wishlist }}" id="wishlist-total"><i class="fa fa-heart"></i>{{ text_wishlist }}</a></li>
            <li><a href="{{ logout }}"><i class="fa fa-sign-out"></i>{{ text_logout }}</a></li>
            {% else %}
            <li><a href="{{ register }}"><i class="fa fa-user-plus"></i>{{ text_register }}</a></li>
            <li><a href="{{ login }}"><i class="fa fa-lock"></i>{{ text_login }}</a></li>
            <li><a href="{{ wishlist }}" id="wishlist-total"><i class="fa fa-heart"></i>{{ text_wishlist }}</a></li>
            {% endif %}
          </ul>
        </li>
        <!-- <li><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_shopping_cart }}</span></a></li>
        <li><a href="{{ checkout }}" title="{{ text_checkout }}"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_checkout }}</span></a></li> -->
      </ul>
    </div>
  </div>
  </div>
</nav>
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-sm-3 col-xs-6">
        <div id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}
          <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}</div>
      </div>
      <div class="col-lg-8 col-sm-6 col-xs-12">{{ search }}</div>
      <div class="col-lg-2 col-sm-3 col-xs-6  text-right xs-cart">{{ cart }}</div>
    </div>
  </div>
</header>

  <div class="container hidden-xs">     
    <div  id="menu1" class="">
      <div class="manun">
        <a href="{{ home }}" ><i class="fa fa-home"></i></a>
        <ul class="">
             <li><a href="{{ special }}">specials offfers</a></li>
        
             {# <li><a href="index.php?route=information/blogger/blogs" >blog</a></li> #}
           
              <li><a href="{{ contact }}">contact</a></li>
              <li><a href="{{ sitemap }}">sitemap</a></li>
              <li><a href="{{ brand }}">Brand</a></li>
              
        </ul>
      </div>
    </div>
  </div>
{{ menu }}
