{{ header }}
<div id="product-category" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-xs-12 col-sm-8 col-md-9 col-lg-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      {% if thumb or description %}
      <div class="cate-top"> 
         <h2>{{ heading_title }}</h2>
         {% if description %}
          {{ description }}
        {% endif %}
        {% if thumb %}
          <img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-responsive center-block" />
        {% endif %}
      </div>
      {% endif %}
     {#  {% if categories %}
      <h3>{{ text_refine }}</h3>
      {% if categories|length <= 5 %}
      <div class="row">
        <div class="col-sm-3">
          <ul>
            {% for category in categories %}
            <li><a href="{{ category.href }}">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% else %}
      <div class="row">{% for category in categories|batch((categories|length / 4)|round(1, 'ceil')) %}
        <div class="col-sm-3">
          <ul>
            {% for child in category %}
            <li><a href="{{ child.href }}">{{ child.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}</div>
      <br />
      {% endif %}
      {% endif %} #}
      {% if products %}
      <div class="row cate-border">
            <div class="col-md-2 col-sm-3 col-xs-5">
                <div class="btn-group-sm">
                    <button type="button" id="list-view" class="btn listgridbtn" data-toggle="tooltip" title="{{ button_list }}">
                       {#  <i class="fa fa-th-list"></i> #} <img src="image/catalog/category/list.png">
                    </button>
                    <button type="button" id="grid-view" class="btn listgridbtn" data-toggle="tooltip" title="{{ button_grid }}">
                        {# <i class="fa fa-th"></i> #} <img src="image/catalog/category/grid.png">
                    </button>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 col-sm-6 col-xs-7 hidden-md hidden-sm ct">
                <a href="{{ compare }}" id="compare-total" class="btn btn-link">{{ text_compare }}</a>
            </div>
            <div class="col-lg-4 col-md-5 col-xs-6 col-sm-5 catesort">
                <div class="input-group input-group-sm">
                    <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
                    <select id="input-sort" class="form-control" onchange="location = this.value;">
                        {% for sorts in sorts %}
                            {% if sorts.value == '%s-%s'|format(sort, order) %}
                                <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                            {% else %}
                                <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 col-xs-6 col-sm-4 catesort">
                <div class="input-group input-group-sm">
                    <label class="input-group-addon" for="input-limit">{{ text_limit }}</label>
                    <select id="input-limit" class="form-control" onchange="location = this.value;">
                        {% for limits in limits %}
                            {% if limits.value == limit %}
                                <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
                            {% else %}
                                <option value="{{ limits.href }}">{{ limits.text }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
      <div class="row"> {% for product in products %}
        <div class="product-layout product-list col-xs-12">
          <div class="product-thumb transition">
      <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive center-block" /></a>
               <!-- Webiarch Images Start -->
                        {% set t = 0 %}
                          {% for webi_image in product.webi_images %}
                          {% if t == 0 %}
                           <a href="{{ product.href }}"><img src="{{ webi_image.popup }}" class="img-responsive second-img" alt="hover image"/></a>
                          {% set t = t + 1 %}
                          {% endif %}
                        {% endfor %}
        <!-- Webiarch Images End -->
        {% if product.price %}
          {% if product.special %}
               <img src="image/catalog/sale.png" alt="sale" class="saleen">
               <img src="image/catalog/salertl.png" alt="sale" class="salertl">
          {% endif %}
      {% endif %}
      </div>
      <div class="caption">
        {% if product.rating %}
          <div class="rating">
            {% for i in 1..5 %}
            {% if product.rating < i %}
            <span class="fa fa-stack">
              <i class="fa fa-star-o fa-stack-2x"></i>
            </span>
            {% else %}
            <span class="fa fa-stack">
              <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
            </span>
            {% endif %}
          {% endfor %}</div>{% else %}
          <div class="rating">{% for i in 1..5 %}
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% endfor %}</div>
        {% endif %}
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
        <p class="list-des">{{ product.description }}</p>
        {% if product.price %}
        <p class="price" style="color: #dd0000; font-size: 16px;">
          {% if not product.special %}
          {{ product.price }}
          {% else %}
          <span class="price-new" style="color: #dd0000; font-size: 16px;">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
          {% endif %}
         {#  {% if product.tax %}
          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
          {% endif %} #}
        </p>
        {% endif %}
      </div>
      <div class="button-group">
        <button type="button" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');" class="acart"><svg><use xlink:href="#cart" /></svg>  
          <span class="hidden-xs">{{ button_cart }}</span>
        </button>
        <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');" class="wishcom"><i class="fa fa-heart-o"></i><span class="hidden-xs">{{ button_wishlist }}</span></button>
        <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');" class="wishcom"><i class="fa fa-compress"></i><span class="hidden-xs">{{ button_compare }}</span></button>
      </div>
    </div>
        </div>
        {% endfor %} </div>
      <div class="row pagi">
        <div class="col-sm-6 col-xs-12 text-left">{{ pagination }}</div>
        <div class="col-sm-6 col-xs-12 text-right tot">{{ results }}</div>
      </div>
      {% endif %}
      {% if not categories and not products %}
      <p>{{ text_empty }}</p>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }} 
