{{ header }}
<div id="product-search" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-xs-12 col-sm-8 col-md-9 col-lg-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <h1 class="co-heading">{{ heading_title }}</h1>
            <div class="search-page">
                <label class="control-label" for="input-search">{{ entry_search }}</label>
                <div class="row">
                    <div class="col-sm-4">
                        <input type="text" name="search" value="{{ search }}" placeholder="{{ text_keyword }}"
                               id="input-search" class="form-control"/>
                    </div>
                    <div class="col-sm-4">
                        <div class="select-input">
                            <select name="category_id" class="form-control">
                                <option value="0">{{ text_category }}</option>
                                {% for category_1 in categories %}
                                    {% if category_1.category_id == category_id %}
                                        <option value="{{ category_1.category_id }}"
                                                selected="selected">{{ category_1.name }}</option>
                                    {% else %}
                                        <option value="{{ category_1.category_id }}">{{ category_1.name }}</option>
                                    {% endif %}
                                    {% for category_2 in category_1.children %}
                                        {% if category_2.category_id == category_id %}
                                            <option value="{{ category_2.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
                                        {% else %}
                                            <option value="{{ category_2.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_2.name }}</option>
                                        {% endif %}
                                        {% for category_3 in category_2.children %}
                                            {% if category_3.category_id == category_id %}
                                                <option value="{{ category_3.category_id }}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
                                            {% else %}
                                                <option value="{{ category_3.category_id }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ category_3.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="checkbox-inline">
                            {% if sub_category %}
                                <input type="checkbox" name="sub_category" value="1" checked="checked"/>
                            {% else %}
                                <input type="checkbox" name="sub_category" value="1"/>
                            {% endif %}
                            {{ text_sub_category }}</label>
                    </div>
                </div>
                <p>
                    <label class="checkbox-inline">
                        </br>
                        {% if description %}
                            <input type="checkbox" name="description" value="1" id="description" checked="checked"/>
                        {% else %}
                            <input type="checkbox" name="description" value="1" id="description"/>
                        {% endif %}
                        {{ entry_description }} </br></label>
                </p>
                <input type="button" value="{{ button_search }}" id="button-search" class="btn btn-primary"/>
            </div>

            <h2 class="co-heading">  </br>{{ text_search }}</h2>
            {% if products %}
                <div class="row cate-border">
                    <div class="col-md-2 col-sm-3 col-xs-5">
                        <div class="btn-group-sm">
                            <button type="button" id="list-view" class="btn listgridbtn" data-toggle="tooltip"
                                    title="{{ button_list }}">
                                {# <i class="fa fa-th-list"></i> #} <img src="image/catalog/category/list.png">
                            </button>
                            <button type="button" id="grid-view" class="btn listgridbtn" data-toggle="tooltip"
                                    title="{{ button_grid }}">
                                {# <i class="fa fa-th"></i> #} <img src="image/catalog/category/grid.png">
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-5 col-sm-6 col-xs-7 hidden-md hidden-sm ct">
                        <a href="{{ compare }}" id="compare-total" class="btn btn-link">{{ text_compare }}</a>
                    </div>
                    <div class="col-lg-4 col-md-5 col-xs-6 col-sm-5 catesort">
                        <div class="input-group input-group-sm">
                            <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
                            <select id="input-sort" class="form-control" onchange="location = this.value;">
                                {% for sorts in sorts %}
                                    {% if sorts.value == '%s-%s'|format(sort, order) %}
                                        <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                                    {% else %}
                                        <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-5 col-xs-6 col-sm-4 catesort">
                        <div class="input-group input-group-sm">
                            <label class="input-group-addon" for="input-limit">{{ text_limit }}</label>
                            <select id="input-limit" class="form-control" onchange="location = this.value;">
                                {% for limits in limits %}
                                    {% if limits.value == limit %}
                                        <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
                                    {% else %}
                                        <option value="{{ limits.href }}">{{ limits.text }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                        <div class="product-layout product-list col-xs-12">
                            <div class="product-thumb transition">
                                <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}"
                                                                                     alt="{{ product.name }}"
                                                                                     title="{{ product.name }}"
                                                                                     class="img-responsive center-block"/></a>
                                    <!-- Webiarch Images Start -->
                                    {% set t = 0 %}
                                    {% for webi_image in product.webi_images %}
                                        {% if t == 0 %}
                                            <a href="{{ product.href }}"><img src="{{ webi_image.popup }}"
                                                                              class="img-responsive second-img"
                                                                              alt="hover image"/></a>
                                            {% set t = t + 1 %}
                                        {% endif %}
                                    {% endfor %}
                                    <!-- Webiarch Images End -->
                                </div>
                                <div class="caption">
                                    {% if product.rating %}
                                        <div class="rating">
                                        {% for i in 1..5 %}
                                            {% if product.rating < i %}
                                                <span class="fa fa-stack">
              <i class="fa fa-star-o fa-stack-2x"></i>
            </span>
                                            {% else %}
                                                <span class="fa fa-stack">
              <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
            </span>
                                            {% endif %}
                                        {% endfor %}</div>{% else %}
                                        <div class="rating">{% for i in 1..5 %}
                                                <span class="fa fa-stack"><i
                                                            class="fa fa-star-o fa-stack-2x"></i></span>
                                            {% endfor %}</div>
                                    {% endif %}
                                    <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
                                    <p class="list-des">{{ product.description }}</p>
                                    {% if product.price %}
                                        <p class="price">
                                            {% if not product.special %}
                                                {{ product.price }}
                                            {% else %}
                                                <span class="price-new">{{ product.special }}</span> <span
                                                    class="price-old">{{ product.price }}</span>
                                            {% endif %}
                                            {# {% if product.tax %}
          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
          {% endif %} #}
                                        </p>
                                    {% endif %}
                                </div>
                                <div class="button-group">
                                    {% if order_link != null %}
                                        <a href="{{ order_link }}" class="btn add-to-cart btn-primary" target="_blank">Order Now</a>
                                    {% else %}
                                        <button type="button" title="{{ button_cart }}"
                                                onclick="cart.add('{{ product.product_id }}');" class="acart">
                                            <svg>
                                                <use xlink:href="#cart"/>
                                            </svg>
                                            <span class="hidden-xs">{{ button_cart }}</span>
                                        </button>
                                    {% endif %}

                                    <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}"
                                            onclick="wishlist.add('{{ product.product_id }}');" class="wishcom"><i
                                                class="fa fa-heart-o"></i><span
                                                class="hidden-xs">{{ button_wishlist }}</span></button>
                                    <button type="button" data-toggle="tooltip" title="{{ button_compare }}"
                                            onclick="compare.add('{{ product.product_id }}');" class="wishcom"><i
                                                class="fa fa-compress"></i><span
                                                class="hidden-xs">{{ button_compare }}</span></button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row pagi">
                    <div class="col-sm-6 col-xs-12 text-left">{{ pagination }}</div>
                    <div class="col-sm-6 col-xs-12 text-right tot">{{ results }}</div>
                </div>
            {% else %}
                <p>{{ text_empty }}</p>
            {% endif %}
            {{ content_bottom }}</div>
        {{ column_right }}</div>
</div>
<script type="text/javascript"><!--
    $('#button-search').bind('click', function () {
        url = 'index.php?route=product/search';

        var search = $('#content input[name=\'search\']').prop('value');

        if (search) {
            url += '&search=' + encodeURIComponent(search);
        }

        var category_id = $('#content select[name=\'category_id\']').prop('value');

        if (category_id > 0) {
            url += '&category_id=' + encodeURIComponent(category_id);
        }

        var sub_category = $('#content input[name=\'sub_category\']:checked').prop('value');

        if (sub_category) {
            url += '&sub_category=true';
        }

        var filter_description = $('#content input[name=\'description\']:checked').prop('value');

        if (filter_description) {
            url += '&description=true';
        }

        location = url;
    });

    $('#content input[name=\'search\']').bind('keydown', function (e) {
        if (e.keyCode == 13) {
            $('#button-search').trigger('click');
        }
    });

    $('select[name=\'category_id\']').on('change', function () {
        if (this.value == '0') {
            $('input[name=\'sub_category\']').prop('disabled', true);
        } else {
            $('input[name=\'sub_category\']').prop('disabled', false);
        }
    });

    $('select[name=\'category_id\']').trigger('change');
    --></script>
{{ footer }}