@media (min-width:992px){
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: right;
    }
}
@media (min-width:768px){
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: right;
    }
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    float:right;
}
.pull-left{
    float:right !important;
}
.pull-right{
    float:left !important;
}
.list-unstyled {
    padding-right: 0;
}
.text-right{
    text-align: left;
}
.text-left{
    text-align: right;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"] input[type="radio"]{
    float: left;
    left: 0;
    margin-left: 0;
}
.list-inline{
    padding-right: 0;
    margin-right: -5px;
    margin-left: 0;
}
.dropdown-menu{
    text-align: right;
}
.nav-tabs > li {
    float: right;
}
.dropdown-menu.pull-right {
    left: 0;
    right: auto;
}
.checkbox-inline, .radio-inline {
    padding-right: 20px;
    padding-left: 0;
}
#top #form-currency .currency-select, #top #form-language .language-select {
    text-align: right;
}
.nav{
    padding-right: 0;
}
.dropdown-menu-right {
    left: 0 !important;
    right: auto !important;
}
.product-thumb .button-group{
    direction: rtl;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn-group:not(:last-child) > .btn, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.leftpro .caption{
    direction: rtl;
}
.select-input::after {
    right: auto;
    left: 10px;
}
/* header */
.cartprice {
    left: auto;
    right: 80px;
}
.social li {
    margin-right: auto;
    margin-left: 20px;
}
.cart-tot {
    left: auto;
    right: 30px;
}
#menu1 i {
    left: auto;
    right: -1px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/* left */
.leftprobu .owl-theme .owl-controls .owl-buttons .owl-next {
    left: 50px;
}
.leftprobu .owl-theme .owl-controls .owl-buttons .owl-prev {
    left: 15px;
    right: auto;
}
.leftpro .caption {
    padding-right: 0;
    padding-left: 15px;
    text-align: right;
}

@media(min-width: 768px){
    #content{
        padding-right: 5px;
        padding-left: 15px;
    }
    .right-best {
        padding-right: 5px;
        padding-left: 15px;
    }
}
.enangle {
    float: left;
    transform: rotate(180deg);
}
/* product */
.salertl{
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
}
.saleen  {
    display: none;
}
.product-list .salertl{
    left: 25px;
}
.pro-nepr .owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -11px;
    right: auto;
}
.pro-nepr .owl-theme .owl-controls .owl-buttons .owl-next {
    left: 33px;
}
.pro-nepr .owl-theme .owl-controls .owl-buttons div::before,.nav-tabs li a::before {
    right: 0;
    left: auto;
}
/* footer */
#scroll {
    left: 20px;
    right: auto;
}
footer #contact li i {
    border-left: 1px solid #434343;
    border-right: none;
    padding-left: 10px;
    padding-right: 0;
    margin-left: 10px;
    margin-right: auto;
}
@media(min-width: 768px){
    #menu .dropdown-menu {
        left: auto;
        right: 100%;
    }
    .form-horizontal .control-label {
        text-align: left;
    }
    #menu li a:hover .enangle {
        transform: rotate(90deg);
    }
}
/* responsive */
@media(max-width: 767px){
    .cart-tot {
        right: 25px;
    }
    #menu {
        left: auto;
        right: 15px;
    }
    .xs-cart {
        right: auto;
        left: 0px;
    }
    footer h5 .toggle::after,footer h5 .toggle.collapsed::after {
        float: left !important;
    }
    .catesort .input-group .input-group-addon {
        min-width: 100px;
        text-align: right;
    }
}
@media(min-width: 768px){
    .product-list .product-thumb .image {
        float: right;
    }
    .product-list .product-thumb .caption, .product-list .product-thumb .button-group {
        text-align: right;
    }
}
@media(min-width: 768px) and (max-width: 991px){
    .acpage .form-horizontal .control-label {
        text-align: right;
    }
}
.breadcrumb > li:first-child {
    padding-right: 0;
    padding-left: 20px;
}
/* produc page */
.zoomWindow {
    right: 532px;
    left: auto !important;
}
@media(max-width: 1400px){
    .zoomWindow {
        right: 307px;
        left: auto !important;
    }
}
.productwish button {
    margin-left: 10px;
    margin-right: 0;
}
.productwish {
    left: 25px;
    right: auto;
}
.breadcrumb > li::after {
    right: auto;
    left: 0;
    -webkit-transform: rotate(133deg);
    -moz-transform: rotate(133deg);
    -o-transform: rotate(133deg);
    transform: rotate(133deg);
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
    margin-right: -20px;
}
.checkbox label, .radio label {
    padding-right: 20px;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"] input[type="radio"] {
    float: right;
    right: 0;
    margin-right: 0;
}
.datebtn {
    border-radius: 6px 0px 0px 6px !important;
}
.btnminus {
    border-radius: 0px 4px 4px 0px !important;
    border-right: 1px solid #ebebeb;
}
.btnplus {
    border-radius: 4px 0px 0px 4px !important;
    border-left: 1px solid #ebebeb;
}
.prorate {
    border-left: 1px solid #003050;
    border-right: 0;
    margin: 0px 0;
}
.proreview {
    border-left: 1px solid #003050;
    border-right: 0;
}
.a2a_default_style a {
    float: right !important;
}
@media(max-width: 406px){
    .rating .col-xs-4{
        text-align: right !important;
    }
}
/* category page */
.catesort select.form-control {
    background-position: left;
}
.alert .close{
    left: 0;
    right: auto;
    float: left;
}
.news-popup .form-control {
    float: left;
}
.news-popup .button-submit{
    clear: both;
    padding-top: 10px;
}
.news-popup .checkbox input[type="checkbox"]{
    float: left;
    left: 0;
    right: auto;
    margin-left: 0;
}