@font-face{
    font-family: 'Poppins-Regular';
    src:url(../../../javascript/webiarch/fonts/Poppins-Regular.ttf);
}
@font-face{
    font-family: 'Poppins-Bold';
    src:url(../../../javascript/webiarch/fonts/Poppins-Bold.ttf);
}
@font-face{
    font-family: 'Poppins-SemiBold';
    src:url(../../../javascript/webiarch/fonts/Poppins-SemiBold.ttf);
}
@font-face{
    font-family: 'Poppins-Medium';
    src: url(../../../javascript/webiarch/fonts/Poppins-Medium.ttf);
}
@font-face{
    font-family: 'Poppins-Light';
    src: url(../../../javascript/webiarch/fonts/Poppins-Light.ttf);
}
input[type="checkbox"], input[type="radio"] {
    margin: 3px 0 0;
}
input[type="checkbox"]{
	transform: scale(1.1);
}
input[type="file"]:focus, input[type="checkbox"]:focus, input[type="radio"]:focus {
    outline: none;
}
.select-input::after {
    font-family: 'fontawesome';
    content: '\f107';
    font-size: 14px;
    position: absolute;
    right: 10px;
    top: 7px;
    pointer-events: none;
}
select.form-control {
    appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}
.form-control {
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
}
.select-input {
    position: relative;
}
body {
	font-family: 'Poppins-Regular';
	font-weight: 400;
	color: #282828;
	font-size: 14px;
	line-height: 20px;
	width: 100%;
	background-color: #f8f8f8;
}
.dropdown-menu {
    box-shadow: 0 0px 5px rgba(0,0,0,.175);
}
.form-control {
    border: 1px solid #ebebeb;
    box-shadow: none;
}
.form-control:focus {
    border-color: #2a5390;
    box-shadow: none;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus,a:focus{
    outline: none;
}
a:hover,a:focus{
	text-decoration: none;
}
.btn.active, .btn:active{
	box-shadow: none;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #2a5390;
}
a:hover {
	text-decoration: none;
	color: #fdba2d;
}
legend {
	font-size: 18px;
	padding: 7px 0px;
	color: #2a5390;
}
label {
	font-size: 14px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
	z-index: 0;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #2a5390;
}
/* top */
#top {
	background-color: #ededed;
	border-bottom: 1px solid #dedede;
	padding: 14px 0;
}
#top .container {
	padding: 0 20px;
}
#top #form-currency .currency-select,
#top #form-language .language-select {
	text-align: left;
}
#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
	text-shadow: none;
	color: #2a5390;
}
#top .btn-link, #top-links li, #top-links a {
	color: #6c6c6c;
	text-decoration: none;
	padding: 0;
	font-size: 12px;
	transition: all 0.4s ease-in-out 0s;
	letter-spacing: 1px;
	font-family: 'Poppins-Medium';
}
#top .btn-link:hover, #top-links a:hover {
	color: #2a5390;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #2a5390;
	background-color: transparent;
}
#top .btn-link strong {
	font-size: 14px;
        line-height: 14px;
}
#top-links a + a {
	margin-left: 15px;
}
/* logo */

/* search */
#search .input-lg {
	height: 50px;
	line-height: 20px;
	padding: 0 15px;
	border: none;
}
#search .btn-lg {
	font-size: 13px;
	line-height: 31px;
	padding: 10px 35px;
	color: #282828;
	background-color: #fdba2d;
	font-family: 'Poppins-Medium';
	border: 1px solid #fdba2d;
	box-shadow: none;
	text-transform: uppercase;
	text-shadow: none;
	letter-spacing: 1.5px;
	transition: all 0.4s ease-in-out 0s;
	height: 50px;
}
#search .btn-lg:hover{
	background-color: #2a5390;
	border: 1px solid #2a5390;
	color: #fff;
}
/* cart */
#cart .btn-danger {
    background-color: #fff;
	color: #2a5390;
	padding: 0;
	border-color: #fff;
	transition: all 0.4s ease-in-out 0s;
}
#cart .btn-danger:hover{
    background-color: #fff !important;
	color: #fdba2d !important;
	border-color: #fff;
}
#cart > .btn {
	font-size: 14px;
	line-height: 18px;
	color: #282828;
	background-color: #fff;
	border: #fff;
	font-family: 'Poppins-Medium';
	letter-spacing: 1px;
	text-transform: capitalize;
	padding: 13px 7px;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open .btn-inverse:hover span,#cart .btn-inverse:hover span{
	color: #fdba2d;
	background-color: #fff;
}
#cart .dropdown-menu {
	background: #fff;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 200px;
	width: 300px;
}
.cartbt .btn{
	padding: 4px 8px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
		min-width: 300px;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .table-striped > tbody > tr:nth-of-type(2n+1) {
    background: none;
}
#cart li tbody tr td {
    border-bottom: 1px solid #f6f6f6 !important;
	border: none;
}
#cart li tbody tr td {
    border-bottom: 1px solid #f6f6f6 !important;
	border: none;
}
.cartqt{
	width: 12%;
}
.cartdrop {
    padding: 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}
.cartname {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 10px;
    width: 130px;
    font-size: 14px;
}
.cartprice {
    clear: both;
    position: relative;
    top: -40px;
    left: 80px;
    width: 50%;
    color: #2a5390;
    font-size: 13px;
    direction: ltr;
    margin-bottom: -10px;
}
#cart .dropdown-menu li > div {
	padding: 0 10px;
}
#cart .dropdown-menu li > div table td {
	border: 1px solid #ececec;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
#menu {
	border: 1px solid #ebebeb;
	background-color: #fff;
	border-radius: 0 0 2px 2px;
	padding: 4px 0;
}
#menu .nav > li > a {
	color: #282828;
	padding: 10px 0;
	background-color: transparent;
	letter-spacing: 1px;
	font-family: 'Poppins-Medium';
	font-size: 13px;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	color: #2a5390;
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 13px;
}
#menu .dropdown-inner li a:hover {
	color: #2a5390;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #282828;
	padding: 0;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #282828;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	.search-page #input-search,.search-page .select-input{
		margin-bottom: 10px;
	}
	.news-popup h2, .news-popup h1 {
    	font-size: 18px !important;
	}
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #282828;
	}
	#menu .see-all{
		display: none;
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}
/* content */
#content {
	min-height: 600px;
}
/* footer */
footer {
	margin-top: 30px;
	padding-top: 50px;
	background-color: #000;
	color: #e2e2e2;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer #contact li i{
	border-right: 1px solid #434343;
	padding-right: 10px;
	margin-right: 10px;
	font-size: 20px;
	color: #fff;
	margin-top: 7px;
	width: 30px;
}
footer a,footer #contact li{
	color: #7a7a7a;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 30px;
	font-family: 'Poppins-Medium';
	transition: all 0.45s ease 0s;
}
footer a:hover,footer #contact li:hover,.foot-payment li a i:hover{
	color: #fdba2d;
}
footer h5 {
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 16px;
	font-family: 'Poppins-Medium';
}
/* alert */
.alert {
	padding: 8px 15px 8px 15px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: #fff;
	font-size: 16px;
	margin-bottom: 20px;
	border: 1px solid #282828;
	border-radius: 0;
	background-color: #282828;
	z-index: 99;
}
.alert .close {
    color: #fff;
    opacity: 1;
    right: 0;
    top: 0;
}
/* breadcrumb */
.breadcrumb a {
    color: #2a5390;
    letter-spacing: 1px;
    font-size: 14px;
    transition: all 0.45s ease 0s;
}
.breadcrumb a:hover {
    color: #fdba2d;
}
.breadcrumb {
	margin: 0 0 20px 0;
	padding: 0px 0;
	background-color: transparent;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	padding: 0 20px;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
	content: '';
	display: block;
	position: absolute;
	top: 5px;
	right: 0;
	width: 9px;
	height: 9px;
	border-right: 2px solid #2a5390;
	border-bottom: 2px solid #2a5390;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.breadcrumb > li:last-child::after {
    border-bottom: 0;
    border-right: 0;
}
.breadcrumb > li:first-child {
    padding-left: 0;
}
.pagination {
	margin: 0;
	padding: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 14px;
	border-radius: 4px;
	text-transform: capitalize;
	letter-spacing: 0.5px;
	transition: all 0.4s ease-in-out 0s;
	line-height: 22px;
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #ffffff;
	text-shadow: none;
	transition: all 0.4s ease-in-out 0s;
	background-color: #2a5390;
	border: 1px solid #2a5390;
}
.btn-primary {
	color: #ffffff;
	text-shadow: none;
	transition: all 0.4s ease-in-out 0s;
	background-color: #2a5390;
	border: 1px solid #2a5390;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled],.btn-primary.focus, .btn-primary:focus,
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover,.btn.focus,.btn-default:hover,.btn-default:focus,
 .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover{
	background-color: #fdba2d;
	border: 1px solid #fdba2d;
	color: #282828;
}
/* .btn:focus,.btn:hover{
	background-color: transparent;
	border: 1px solid transparent;
} */
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #282828;
	background-color: #fdba2d;
	border-color: #fdba2d;
}
.btn-danger:hover,.btn-danger:active:focus, .btn-danger:active:hover,.btn-danger.active, .btn-danger:active, .open > .dropdown-toggle.btn-danger,.btn-danger.focus, .btn-danger:focus{
	color: #fff;
	background-color: #2a5390;
	border-color: #2a5390;
}
/* .btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
} */
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #282828;
	background-color: #fdba2d;
	border-color: #fdba2d;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-color: #2a5390;
	border-color: #2a5390;
	color: #fff;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	background-color: #363636;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
}
/* list group */
.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
}
/* .list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #444444;
	background: #eeeeee;
	border: 1px solid #DDDDDD;
	text-shadow: 0 1px 0 #FFF;
} */
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb .image {
	text-align: center;
	margin: 1px;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 768px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}
}
.product-thumb .caption {
	text-align: center;
	transition: all 0.45s ease 0s;
}
/* .product-list .product-thumb .caption {
	margin-left: 230px;
} */
@media (max-width: 767px) {
	.list-unstyled.grand-child li {
    	padding: 4px 5px;
	}
	.submenu-title {
    	margin: 0 0 0px !important;
	}
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}
.rating .fa-stack {
	font-size: 7px;
}
.rating .fa-star-o {
	color: #fdba2d;
	font-size: 15px;
}
.rating .fa-star {
	color: #fdba2d;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #fdba2d;
}
h2.price {
	margin: 0;
}
.product-thumb .price, .leftpro .price {
	color: #242424;
	font-size: 14px;
	font-family: 'Poppins-Medium';
}
.product-thumb .price-old,.leftpro .price-old {
	color: #b9b9b9;
	text-decoration: line-through;
	margin-left: 5px;
}
.product-thumb .price-tax {
	color: #b9b9b9;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group{
	text-align: center;
}
.acart{
	display: inherit;
	margin: 10px auto;
	background-color: #2a5390;
	padding: 8px 30px;
	border-radius: 5px;
	transition: all 0.45s ease 0s;
	font-size: 13px;
	letter-spacing: 0.5px;
	color: #f1f1f1;
	font-family: 'Poppins-Medium';
}
.acart:hover{
	background-color: #fdba2d;
	color: #282828;
}
.acart:hover svg{
	fill: #282828;
}
.acart svg{
	height: 16px;
	width: 18px;
	vertical-align: middle;
	fill: #fff;
}
.wishcom {
    background-color: transparent;
    color: #7a7a7a;
    letter-spacing: 0.4px;
    cursor: pointer;
    transition: all 0.45s ease 0s;
    font-family: 'Poppins-Medium';
}
.wishcom i{
	margin: 0 5px;
}
.wishcom:hover{
	color: #fdba2d;
}
.product-thumb .button-group button {
	border: none;
	text-align: center;
	text-transform: capitalize;
}
.product-thumb .button-group button:hover {
	text-decoration: none;
	cursor: pointer;
}
.product-thumb:hover .button-group {
    opacity: 1;
}
.product-thumb:hover .caption{
	opacity: 0;
}
.product-thumb .button-group {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    opacity: 0;
    text-align: center;
    bottom: 15px;
}
.product-thumb:hover {
    border: 1px solid #d7d7d7;
    border-radius: 4px;
}
.product-thumb {
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 1px 2px;
    position: relative;
}
.thumbnails {
	list-style: none;
	padding: 0;
	position: relative;
}
/* .thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
} */
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear:left;
	}
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left  .product-layout .col-md-3 {
       width: 100%;
    }

	#column-left + #content .product-layout .col-md-3 {
       width: 50%;
    }

	#column-left + #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
       width: 100%;
    }
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled],.btn-info.focus, .btn-info:focus{
    background-color: #2a5390;
    border-color: #2a5390;
}


/* custom css */
@media (min-width:1380px) {
    .container {
        width: 1380px;
    }
}
/* top pati */
.social li {
	display: inline-block;
	margin-right: 20px;
}
.social li a{
	color:#6e6e6e;
	transition: all 0.3s ease-in-out 0s;
}
.social li a:hover{
	color: #2a5390;
}
#top ul{
	margin-bottom: 0;
}
#form-language::after,#form-language::before {
    position: relative;
    content: '|';
    color: #6c6c6c;
    margin: 0 20px;
}
.usr {
    cursor: pointer;
	margin-right: 5px;
	margin-top: -2px;
}
header {
    background-color: #ededed;
    padding: 30px 0 60px 0;
}
.cart-tot {
    position: absolute;
    top: 8px;
    background-color: #fdba2d !important;
    width: 15px;
    text-align: center;
    border-radius: 50%;
    left: 30px;
    color: #000 !important;
    cursor: pointer;
    height: 16px;
    right: auto;
    font-size: 11px;
}
#cart {
    width: auto;
	margin-top: 5px;
}
#cart img{
	padding: 0 5px;
}
#search {
    margin-top: 5px;
}
#cart-total{
	vertical-align: middle;
}
/* static menu */

#menu1 {
    background-color: #2a5390;
    border-radius: 4px;
}
.manun{
	position: relative;
	margin-top: -25px;
}
#menu1 li{
	display: inline-block;
	padding: 15px 28px;
}
#menu1 li a{
	font-family: 'Poppins-Medium';
	font-size: 13px;
	color: #fff;
	letter-spacing: 1px;
	text-transform: capitalize;
	transition: all 0.4s ease-in-out 0s;
}
#menu1 li a:hover{
	color: #fdba2d;
}
#menu1 i{
	position: absolute;
	font-size: 22px;
	color: #282828;
	background-color: #fdba2d;
	padding: 14px 0;
	width: 55px;
	text-align: center;
	left: 0;
	top: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	cursor: pointer;
	transition: all 0.4s ease-in-out 0s;
	bottom: 0;
}
#menu1 i:hover{
	color: #2a5390;
}
#menu1 ul{
	margin: 0 30px 20px 30px;
}

/* left column */
@media(min-width: 1200px){
	#column-left{
		width: 20%;
	}
	#content{
		width: 80%;
	}
}
@media(min-width: 768px){
	#content{
		padding-left: 5px;
	}
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu{
		display: block;
	}
	#menu .dropdown:hover .dropdown-menu{
		display: block;
		padding: 12px 0;
		visibility: visible;
		opacity: 1;
		filter: alpha(opacity=100);
		border-radius: 0;
	}
	#menu .dropdown-menu{
		background: #FFF;
		visibility: hidden;
		display: block;
		opacity: 0;
		filter: alpha(opacity=0);
		-webkit-transition: all 0.35s ease-out 0s;
		-o-transition: all 0.35s ease-out 0s;
		transition: all 0.35s ease-out 0s;
		left: 100%;
		margin: 0 15px !important;
		border: none;
		}
	#menu .nav > li > a::before{
	    background-color: transparent;
	    content: "";
	    height: 3px;
	    left: 0;
	    margin: 0 auto;
	    position: absolute;
	    right: 0;
	    bottom: 0;
	    transition: all 0.4s ease-out 0s;
	    width: 3px;
	}
	#menu .dropdown-menu{
	    padding: 12px 0;
	    min-width: 100%;
	    top: 0;
	}
	.enangle {
    	float: right;
    	transition: all 0.3s ease 0s;
	}
	#menu li a:hover .enangle{
    	transform: rotate(-90deg);
	}

}

/* slider */
#slideshow0 img{
	border-radius: 4px;
}
#slideshow0{
	margin-bottom: 30px;
}
#slideshow0 .owl-pagination{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: auto;
}
#slideshow0.owl-theme .owl-controls .owl-page span{
	opacity: 1;
	background: #fff;
	box-shadow: none;
}
#slideshow0.owl-theme .owl-controls .owl-page.active span,#slideshow0.owl-theme .owl-controls .owl-page:hover span{
	opacity: 1;
	background: #fdba2d;
}
.owl-controls .owl-page{
	margin: 0 !important;
}
.owl-wrapper-outer{
    box-shadow: none !important;
    border: none !important;
    border-radius: 0 !important;
}
@media(min-width: 768px){
	.right-best{
		padding-left: 5px;
	}
}
/* left headnig */
.left-heading {
    background-color: #fdba2d;
    color: #000;
    text-transform: capitalize;
    padding: 15px 10px;
    font-family: 'Poppins-Medium';
    font-size: 15px;
    letter-spacing: 1px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin: 0;
}
/* product */
.product-thumb:hover .second-img,.leftpro:hover .second-img{
    opacity: 1;
}
.product-thumb .second-img,.leftpro .second-img {
    top: 0;
    left: 0;
    margin: 0 auto;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: all 400ms ease-in-out 0s;
    -webkit-transition: all 400ms ease-in-out 0s;
    -moz-transition: all 400ms ease-in-out 0s;
    -o-transition: all 400ms ease-in-out 0s;
    -ms-transition: all 400ms ease-in-out 0s;
}
.saleen {
    position: absolute;
    top: 10px;
    right: 10px;
}
.salertl {
    display: none;
}
.product-list .image{
	position: relative;
}
.product-list .saleen{
	right: 25px;
}
.caption h4 a {
    color: #2a5390;
    font-size: 14px;
    font-family: 'Poppins-Medium';
    transition: all 0.3s ease-out 0s;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}
.caption h4{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.caption h4 a:hover,.caption h4:hover{
	color: #fdba2d;
}
.nav-tabs li{
    text-transform: capitalize;
    font-family: 'Poppins-Medium';
    position: relative;
}
.nav-tabs  li.active a::before {
    background-color: #2a5390;
    height: 2px;
    width: 100%;
}
.nav-tabs li a::before{
    background-color: transparent;
    content: "";
    height: 2px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    transition: all 0.4s ease-out 0s;
    width: 3px;
    top: 0
}
.nav > li > a:focus, .nav > li > a:hover{
	background-color: #fff;
	color: #2a5390;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
	color: #2a5390;
}
.nav-tabs > li > a {
    border-radius: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ebebeb;
	font-size: 14px;
	letter-spacing: 0.5px;
	text-transform: capitalize;
	font-family: 'Poppins-Medium';
	color: #282828;
	border-right: 1px solid #ebebeb;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
	border-bottom: 1px solid #ebebeb;
	border: 1px solid #ebebeb;
}
.nav-tabs {
    border-bottom: none;
}
.tab-content {
    background-color: #fff;
    border: 1px solid #ebebeb;
    padding: 10px;
}
.owl-theme .owl-controls .owl-buttons div {
    opacity: 1 !important;
}
.pro-nepr .owl-theme .owl-controls .owl-buttons .owl-next{
	background-color: #fff;
	position: absolute;
	top: -55px;
	border-radius: 0;
	right: -11px;
	color: #282828;
	margin: 0;
	padding: 12px 18px;
	width: 45px;
	height: 45px;
	border: 1px solid #ebebeb;
}
.pro-nepr .owl-theme .owl-controls .owl-buttons .owl-prev{
	background-color: #fff;
	position: absolute;
	top: -55px;
	border-radius: 0;
	right: 33px;
	left: auto;
	color: #282828;
	margin: 0;
	padding: 12px 18px;
	width: 45px;
	height: 45px;
	border: 1px solid #ebebeb;
}
.pro-nepr .owl-theme .owl-controls .owl-buttons i{
	font-size: 20px;
	margin: -1px 0;
}

 .pro-nepr .owl-theme .owl-controls .owl-buttons div:hover::before{
    background-color: #2a5390;
    height: 2px;
    width: 100%;
}
.pro-nepr .owl-theme .owl-controls .owl-buttons div::before{
    background-color: transparent;
    content: "";
    height: 2px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    transition: all 0.4s ease-out 0s;
    width: 3px;
    top: 0
}

/* left product */

.leftpro {
    border-bottom: 1px solid #ececec;
    margin: 12px 15px;
    padding-bottom: 12px;
}
 .leftpro:last-child{
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.leftpro .caption {
	padding-left: 0;
}
.leftprobu .owl-theme .owl-controls .owl-buttons .owl-next{
	position: absolute;
	top: -39px;
	right: 10px;
	background-color: #282828;
	margin: 0;
	border-radius: 4px;
	height: 29px;
	width: 29px;
	color: #fff;
	transition: all 0.4s ease-out 0s;
}
.leftprobu .owl-theme .owl-controls .owl-buttons .owl-prev{
	position: absolute;
	top: -39px;
	right: 45px;
	background-color: #282828;
	margin: 0;
	border-radius: 4px;
	height: 29px;
	width: 29px;
	color: #fff;
	left: auto;
	transition: all 0.4s ease-out 0s;
}
.leftprobu .owl-theme .owl-controls .owl-buttons .owl-next:hover,.leftprobu .owl-theme .owl-controls .owl-buttons .owl-prev:hover{
	background-color: #fff;
	color: #282828;
}
.leftprobu .owl-theme .owl-controls .owl-buttons i{
	font-size: 20px;
	margin: 1px 1px;
	text-shadow: none;
}
 .leftpro .price{
 	margin-bottom: 5px;
 }
 .leftpro .caption h4 {
    margin: 0 0 8px 0;
}
#bestseller {
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 3px 0;
}
#onsale .price-old,#toprate .price-old{
	font-size: 12px;
}
#onsale,#toprate {
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 10px 0;
}
/* #toprate{
	margin-bottom: 30px;
} */
/* sellbanner */
.sellbanner {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ebebeb;
    margin: 30px 0;
}
.offerbanner,.cbottom{
	margin-top: 30px;
}
/* banner effect */
.beffect a{
    display: block;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.beffect a span span.r1,.beffect a span span.a1 {
    left: 0;
    top: 0;
}
.beffect a span span{
    position: absolute;
    width: 50%;
    height: 50%;
    text-indent: -9999px;
    opacity: 0;
    background: rgba(129, 124, 124, 0.1);
    display: block;
    -moz-transition: all 700ms ease;
    -webkit-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.beffect a span span.r2,.beffect a span span.a2{
    left: 50%;
    top: 0;
}
.beffect a span span.r3,.beffect a span span.a3{
    right: 0;
    top: 50%;
}
.beffect a span span.r4,.beffect a span span.a4{
    right: 50%;
    top: 50%;
}
.beffect:hover a span span.r1,.beffect:hover a span span.a1{
    left: 0;
    top: 50%;
}
.beffect:hover a span span.r2,.beffect:hover a span span.a2{
    left: 0;
    top: 0;
}
.beffect:hover a span span.r3,.beffect:hover a span span.a3{
    right: 0;
    top: 0;
}
.beffect:hover a span span.r4,.beffect:hover a span span.a4{
    right: 0;
    top: 50%;
}
.beffect:hover a span span {
    opacity: 1;
}
/* banner effect over */

/* special */
.logo-slider,.specialpro {
    background-color: #fff;
    border: 1px solid #ebebeb;
    padding: 10px;
}
.allheading {
	padding: 12px 0;
	font-size: 14px;
	letter-spacing: 0.5px;
	text-transform: capitalize;
	font-family: 'Poppins-Medium';
	border-right: 1px solid #ebebeb;
	display: inline-block;
	margin: 0;
	border-top: 2px solid #2a5390;
	color: #2a5390;
	background-color: #fff;
	border-left: 1px solid #ebebeb;
	width: 160px;
	text-align: center;
}
/* testimonials */
#owl-testi img{
	border-radius: 50%;
	border: 5px solid #e7e7e7;
	margin-top: 10px;
}
#owl-testi{
	text-align: center;
	background-color: #fff;
	border: 1px solid #ebebeb;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 15px 0;
}
.crousel-content h4 {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-top: 11px;
    text-transform: capitalize;
    font-family: 'Poppins-Medium';
    color: #2a5390;
}
.crousel-content h5 {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: 'Poppins-Medium';
    text-transform: capitalize;
}
.crousel-content p {
    padding: 0 3px;
    color: #9A9A9A;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1px;
}
.crousel-content hr {
    width: 50px;
    border-top: 1px solid #e1e1e1;
    margin: 15px auto;
}
.parallex {
    margin: 30px 0;
}

/* footer */
.middle-footer h5 button{
    display:none;
}
@media (min-width:768px){
    .footer-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
}
.foot-power {
    background-color: #171717;
    padding: 18px 0 12px 0;
    margin-top: 40px;
}
.foot-payment{
	margin-bottom: 0;
}

.foot-payment li a i {
    color: #fff;
    margin-left: 19px;
    font-size: 20px;
}
#scroll {
    position: fixed;
    right: 20px;
    bottom: 12px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: #2a5390;
    outline: none;
    z-index: 2;
    border-radius: 4px;
    line-height: 28px;
    text-align: center;
}
#scroll i {
    color: #fdba2d;
    font-size: 25px;
    line-height: 35px;
    vertical-align: middle;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#scroll:hover i {
    color: #2a5390;
    position: relative;
    z-index: 5;
}
#scroll:hover::after {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    opacity: 1;
    -o-opacity: 1;
    -webkit-opacity: 1;
    -ms-opacity: 1;
    -moz-opacity: 1;
    transition: all 0.3s cubic-bezier(0.41, 0.12, 1, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.41, 0.12, 1, 1);
    -ms-transition: all 0.3s cubic-bezier(0.41, 0.12, 1, 1);
    -o-transition: all 0.3s cubic-bezier(0.41, 0.12, 1, 1);
    -moz-transition: all 0.3s cubic-bezier(0.41, 0.12, 1, 1);
}
#scroll::after {
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    opacity: 0;
    -o-opacity: 0;
    -webkit-opacity: 0;
    -ms-opacity: 0;
    -moz-opacity: 0;
    transition: all 0.3s cubic-bezier(0.41, 0.12, 1, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.41, 0.12, 1, 1);
    -ms-transition: all 0.3s cubic-bezier(0.41, 0.12, 1, 1);
    -o-transition: all 0.3s cubic-bezier(0.41, 0.12, 1, 1);
    -moz-transition: all 0.3s cubic-bezier(0.41, 0.12, 1, 1);
    background: #fdba2d;
    border-radius: 4px;
}

/* responsive */
@media(min-width: 1200px) and (max-width: 1379px){
	.leftpro  .price-old{
		display: none;
	}
	#slideshow0 img{
		border-radius: 4px;
		width: 100%;
		transform: translate(-50%,0%);
		min-width: 799px;
		left: 50%;
		position: relative;
	}
	#slideshow0 .owl-item {
	    overflow: hidden;
	    border-radius: 4px;
	}
	.product-layout.product-grid{
    	width: 33.33%;
	}
}
@media(min-width: 992px) and (max-width: 1199px){
	.right-best{
		display: none;
	}
	.zoomWindow {
    	width: 350px !important;
    	height: 350px !important;
	}
	.product-grid .wishcom i {
    	margin: 0 4px;
	}
	.product-grid .wishcom{
		letter-spacing: 0;
	}
}
@media(min-width: 768px) and (max-width: 991px){
	#search .btn-lg{
		padding: 10px 20px;
	}
	#menu .dropdown-inner a {
    	min-width: 130px;
    	padding: 3px 10px;
	}
	.catesort{
		clear: none !important;
	}
	.acpage .form-horizontal .control-label{
		text-align: left;
	}
}
@media(max-width: 406px){
	.rating .col-xs-4{
		width: 100%;
		text-align: left;
	}
}
@media(max-width: 599px){
	.product-tab .nav-tabs > li > a {
    	font-size: 12px;
    	letter-spacing: 0;
    	padding: 10px 10px;
	}
	.product-tab .nav-tabs li {
    	width: 33.33%;
    	text-align: center;
	}
	.catesort {
    	width: 100%;
    	margin-bottom: 10px;
	}
	#compare-total {
    	font-size: 12px;
    	margin-bottom: 10px;
	}
	.saleen{
		display: none;
	}
}
@media(min-width: 375px) and (max-width: 767px){
	.product-grid,.product-list{
    	width: 50%;
	}
}
@media(max-width: 767px){
	.sellbanner .beffect{
		margin-bottom: 5px;
	}
	.sellbanner .col-xs-12:last-child .beffect{
		margin-bottom: 0px;
	}
	.cart-tot {
    	left: 25px;
	}
	.pagi .col-xs-12 {
    	text-align: center;
	}
	.ct{
		text-align: right;
	}
	.catesort .input-group .input-group-addon {
    	padding: 0;
    	min-width: 75px;
    	text-align: left;
	}
	.ct {
    	text-align: left;
	}
	.product-list .product-thumb .caption, .product-list .product-thumb .button-group {
    	text-align: center !important;
	}
	.product-list .product-thumb {
    	background-color: #fff;
	}
	.product-list {
    	padding: 0 15px !important;
	}
	.pro-content h1{
		margin-top: 15px !important;
	}
	#formNewLestter {
    	padding: 1px 15px !important;
	}
	.xs-cart{
		position: absolute;
		right: 0px;
		margin-top: -13px;
	}
	#menu{
		position: absolute;
		top: 0;
		left: 15px;
		background-color: transparent;
		min-height: auto;
	}
	#form-language::after, #form-language::before {
    	margin: 0 8px;
	}
	#top{
		padding: 5px 0;
	}
	#search .btn-lg{
		padding: 10px 15px;
		line-height: 20px;
		height: 40px;
	}
	header{
		padding: 15px 0 10px 0;
		margin-bottom: 20px;
	}
	#search .input-lg{
		height: 40px;
	}
	#search {
    	margin-top: 14px;
	}
	#logo img{
		max-width: 120px;
		margin-top: -3px;
	}
	#cart > .btn {
    	font-size: 12px;
    	letter-spacing: 0px;
    	padding: 10px 2px;
	}
	.right-best{
		margin-bottom: 30px;
	}
	.acart{
		display: inline-block;
	}
	.product-thumb .button-group{
		position: unset;
		opacity: 1;
	}
	.product-thumb:hover .caption{
		opacity: 1;
	}
	.product-thumb .button-group button{
    	margin: 10px auto;
		background-color: #2a5390;
		padding: 0;
		border-radius: 4px;
		color: #fff;
		width: 40px;
		height: 35px;
		text-align: center;
		line-height: 38px;
	}
	.product-thumb .button-group button:hover{
		background-color: #fdba2d;
		color: #282828;
	}
	.product-thumb,.product-thumb:hover{
    	border: none;
	}
	#special .product-thumb{
		margin-bottom: 20px
	}
	.specialpro{
		margin-bottom: 30px;
	}
	#column-left{
		padding: 0;
	}
	.middle-footer h5 button {
    	display: block !important;
	}
	footer h5 .toggle.collapsed::after {
	    font-family: 'FontAwesome';
	    content: '\f067';
	    font-size: 14px;
	    font-weight: normal;
	    float: right;
	    cursor: pointer;
	}
	footer h5 .toggle::after {
	    font-family: 'FontAwesome';
	    content: '\f068';
	    font-size: 14px;
	    font-weight: normal;
	    float: right;
	    cursor: pointer;
	}
	.middle-footer .btn-primary {
	    color: #fff;
	    text-shadow: none;
	    background: none;
	        background-image: none;
	    background-image: none;
	    border: 0;
	    box-shadow: none;
	    font-size: 12px;
	    position: absolute;
	    top: -8px;
	    right: 0;
	    width: 100%;
	}
	.middle-footer .btn-primary:active:focus{
		background-color: transparent;
		border: none;
		color: #fff;
	}
	.foot-power .col-xs-12{
		text-align: center;
	}
	footer{
		padding-top: 20px;
	}
	.foot-power{
		margin-top: 20px;
	}
	#mySidenav .fa-angle-down{
		float: right;
	}
	#menu .nav > li > a{
		padding: 10px 15px;
	}
}

/* sidenav */

body.active {
    overflow: hidden;
}
body.active::before {
    background: #000000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: all .2s ease 0s;
    -webkit-transition: all .2s ease 0s;
    -moz-transition: all .2s ease 0s;
    -ms-transition: all .2s ease 0s;
    -o-transition: all .2s ease 0s;
}
body.active .sidenav {
    overflow-x: unset;
    overflow-y: scroll;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #111;
    transition: 0.5s;
    padding-top: 60px;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 5px 0 5px 0 rgba(0,0,0,.06);
    clear: both;
    height: 100%;
    background-color: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
.sidenav .close-nav {
	background-color: #161616;
	padding: 12px 15px;
	width: 100%;
	display: inline-block;
	color: #fff;
	letter-spacing: 1px;
}
#mobile_top_menu_wrapper {
    margin: 0;
    line-height: 20px;
    display: block !important;
}
.closebtn{
    float: right;
}
.close-nav i{
    color: #fff;
    font-size: 16px;
}
.navbar-header button{
border: none;
margin-top: 2px;
background: transparent;
color: #fff;
font-size: 17px;
cursor: pointer;
vertical-align: bottom;
}
#menu .navbar-collapse {
    display: block;
}


#top .dropdown-menu > li > a:focus{
	background-color: transparent;
}
#top-links .dropdown .dropdown-menu,#cart .dropdown-menu{
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    -o-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    visibility: hidden;
    display: block;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.35s ease-out 0s;
    -o-transition: all 0.35s ease-out 0s;
    transition: all 0.35s ease-out 0s;
    margin-top: 50px;
    border: none;
}
#top-links .dropdown.open .dropdown-menu,#cart.open .dropdown-menu {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    margin-top: 9px !important;
}
#top-links .dropdown-menu li {
	margin: 10px 10px;
}
#top .open .dropdown-menu {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    margin-top: 5px;
}
#top .dropdown-menu,#cart .dropdown-menu{
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    -o-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    visibility: hidden;
    display: block;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.35s ease-out 0s;
    -o-transition: all 0.35s ease-out 0s;
    transition: all 0.35s ease-out 0s;
    margin-top: 50px;
    border: none;
}
#top .dropdown-menu, #top .dropdown-menu {
    background-color: #fff;
    border-radius: 4px;
}
.userdrop i{
	margin: 0 5px;
}

/* newsletter */
.news-popup {
    padding: 2px 15px !important;
}
.news-popup .form-control {
    width: 60% !important;
    height: 40px;
}
.news-popup h1{
	margin: 30px 0;
}
.news-popup h2,.news-popup h1{
	font-size: 24px;
	letter-spacing: 1px;
	color: #2a5390;
	font-family: 'Poppins-Medium';
}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 700px;
  margin: 20px auto;
}
.newsletter-bg{
   background-repeat: no-repeat;
   background-size: cover;
}
.slide-bottom{
    position: absolute;
    padding:30px;
    background:#FFF;
    bottom: 0;
    right: 10%;
    border: solid 1px #000;
}
.slide-bottom .inner{
    position: relative;
}
.webi-newsletter .alert{
	position: relative;
	margin-top: 5px;
	font-size: 14px;
}
.button-slide{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background:#000;
    color: #FFF;
    text-align: center;
    line-height: 30px;
}
.webi-newsletter{
	border: 1px solid #ebebeb;
	border-radius: 4px;
	margin-bottom: 30px;
	text-align: center;
}
.webi-newsletter h3 {
    text-align: center;
    font-size: 24px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: 'Poppins-SemiBold';
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 25px;
    color: #282828;
}
.webi-newsletter hr {
    border-top: 2px solid #2a5390;
    width: 60px;
}
.description-top p{
    font-size: 12px;
    font-family: 'Poppins-Medium';
    padding: 0 10px;
    margin-bottom: 25px;
}
.webi-newsletter .btn {
    background-color: #282828;
	border-radius: 4px;
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Poppins-SemiBold';
	padding: 10px 30px;
	transition: all 0.45s ease 0s;
	border: 1px solid #282828;
}
.emailbtn:hover,.webi-newsletter .btn:hover {
    color: #000 !important;
    background-color: #fdba2d;
    border: 1px solid #fdba2d;
}
#formNewLestter {
    padding: 50px 15px;
    border-radius: 4px;
}


/* product page */
.pro-price{
	font-size: 18px !important;
}
.palert,#tab-review .alert{
	position: relative;
}
#tab-review i{
	color: #fdba2d;
}
#tab-specification .table-bordered > thead > tr > td,#tab-specification .table-bordered > tbody > tr > td{
	border: 1px solid #f6f6f6;
}
#tab-specification strong{
	color: #2a5390;
}
.thumbnail {
    padding: 0;
    border-radius: 0;
    border: 0;
}
#gallery_01{
	background-color: #f8f8f8;
}
.pro-content h1 {
    font-size: 18px;
    text-transform: uppercase;
    color: #161616;
    letter-spacing: 1px;
    margin-top: 0;
}
.pro-content .qty-plus-minus .form-control {
    width: 45px;
    text-align: center;
    color: #232d2a;
}
.btnplus {
    border-radius: 0 4px 4px 0 !important;
    border-left: 0;
    line-height: 22px;
}
.btnminus {
    border-radius: 4px 0 0 4px !important;
    border-right: 0;
    line-height: 22px;
}
.producthr {
    border-top: 1px solid #ddd;
}
.text-decor, .text-de {
    text-transform: capitalize;
    color: #161616;
    font-size: 14px;
    letter-spacing: 1px;
    min-width: 150px;
    display: inline-block;
}
.textdeb {
    color: #2a5390;
}
.textdeb:hover{
    color: #fdba2d;
}
.text-decor-bold, .text-decor-bold h2 {
    text-transform: capitalize;
    color: #161616;
    font-size: 16px;
    letter-spacing: 1px;
}
.custom-radio .img-thumbnail {
    display: block;
    padding: 0;
    border-radius: 4px;
    border: none;
    height: 30px;
    width: 30px;
}
.text-decorop {
    text-transform: capitalize;
    color: #161616;
    font-size: 14px;
    letter-spacing: 1px;
}
.datebtn {
    background-color: #2a5390;
    color: #fff;
    border-radius: 0 4px 4px 0 !important;
    border: 1px solid #2a5390;
    box-shadow: none;
    transition: all 0.5s linear;
    padding: 4px 12px;
}
.datebtn:hover, .btnup:hover, .add-to-cart:hover {
    background-color: #fdba2d;
    color: #282828;
    border: 1px solid #fdba2d;
}
.btnup {
    color: #fff;
    background-color: #2a5390;
    border-color: #2a5390;
    transition: all 0.5s linear;
    font-size: 16px;
    box-shadow: none;
}
/* .add-to-cart {
    border: 1px solid #2a5390;
    padding: 10px 20px;
    background: #2a5390;
    box-shadow: none;
    opacity: 1;
    text-transform: capitalize;
    color: #fff;
    font-size: 16px;
    transition: all 0.5s linear;
} */
.prowrite {
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 30px;
}
.proreview {
    text-align: center;
    border-right: 1px solid #161616;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 4px;
    text-transform: capitalize;
}
.prorate {
    border-right: 1px solid #161616;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 5px 0;
}
.zoomWindow{
	border: 1px solid #2a5390 !important;
	top: 0 !important;
}
.productwish button {
    background-color: transparent;
    color: #2a5390;
    box-shadow: none;
    border: none;
    font-size: 37px;
    margin-right: 10px;
    padding: 0;
}
.add-to-cart {
    padding: 7.5px 12px 4.5px 12px;
}
.zoomLens{
    background: #2a5390 url('../../../../../image/catalog/zoom.png') repeat !important;
    border: none !important;
}
.pro-content .qty-plus-minus .form-control:focus{
    border-color: #ebebeb;
}
.pro-content #input-quantity{
	border-radius: 0;
}
.product-tab{
	margin-top: 20px;
	margin-bottom: 30px;
}
#zoom_03 {
    border-radius: 4px;
}
@media(min-width: 992px){
    .sticky {
        position: sticky;
        top: 15px;
    }
}

/* category page */
.filter-panel .panel-footer{
	background-color: #fff;
}
.filter-panel .list-group a {
    color: #2a5390;
    border-bottom: 1px dotted #ddd;
    padding-bottom: 10px;
    font-weight: normal;
}
.filter-panel .list-group a:hover {
    background-color: transparent;
    border-bottom: 1px dotted #ddd;
}
.filter-panel .list-group-item {
    background-color: transparent;
}
.cate-top {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
}
.cate-top h2{
	font-size: 18px;
	color: #2a5390;
	letter-spacing: 0.5px;
	margin-top: 0;
	text-transform: capitalize;
}
.cate-top p{
	font-size: 12px;
	color: #aaa;
	letter-spacing: 0.5px;
	text-transform: capitalize;
}
.cate-top img{
	border-radius: 4px;
}
.cate-border {
    background-color: #fff;
	border: 1px solid #ebebeb;
	border-radius: 4px;
	margin: 25px 0;
	padding: 10px 0px;
}
#compare-total{
	padding: 0;
	line-height: 34px;
	color: #2a5390;
}
#compare-total:hover{
	color: #fdba2d;
}
.catesort label {
    background-color: #fff;
    border: none;
    font-size: 16px !important;
    color: #161616 !important;
}
.catesort select {
    background-color: #2a5390;
    color: #fff;
    font-size: 14px !important;
    border-radius: 4px !important;
    border: 1px solid #2a5390;
}
.catesort select option {
    background-color: #fff;
    color: #161616;
}
.catesort select.form-control {
	padding-right: 25px;
	background-image: url("data:image/svg+xml,\
      <svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='30px'\
           height='12px' viewBox='0 0 1200 1000' fill='rgb(255,255,255)'>\
        <path d='M1100 411l-198 -199l-353 353l-353 -353l-197 199l551 551z'/>\
      </svg>");
	background-repeat: no-repeat;
	background-position: right;
	-moz-appearance: none;
	-webkit-appearance: inherit;
	appearance: none;
	padding: 0 10px;
	 height: 35px;
}
.catesort select.form-control:focus{
	border-color: transparent;
}
.listgridbtn {
    background-color: #fff;
    color: #161616 !important;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 5px !important;
    border: 1px solid transparent;
}
.listgridbtn.active, .listgridbtn.active:hover, .listgridbtn:hover {
    border: 1px solid #fdba2d;
    border-radius: 4px;
    background-color: transparent;
    padding: 5px;
    box-shadow: none;
}
.listgridbtn i {
    font-size: 22px;
}
.btn-link:focus, .btn-link:hover{
	text-decoration: none;
}
.product-grid .product-thumb{
	background-color: #fff;
	margin-bottom: 20px;
}
.product-list .acart{
	display: inline-block;
	transition: 0s;
}
.product-list .product-thumb .button-group{
	position: unset;
	opacity: 1;
	transition: 0s;
}
.product-list .product-thumb:hover .caption{
	opacity: 1;
}
.product-list .product-thumb .button-group button{
	margin: 10px auto;
	background-color: #2a5390;
	padding: 0;
	border-radius: 4px;
	color: #fff;
	width: 38px;
	height: 38px;
	text-align: center;
	line-height: 38px;
}
.product-list .product-thumb .button-group button span{
	display: none;
}
.product-list .product-thumb .caption,.product-list .product-thumb .button-group{
	text-align: left;
}
.product-list .product-thumb .button-group button:hover{
	background-color: #fdba2d;
	color: #282828;
}
.product-list .product-thumb {
	border: none;
}
.product-list{
	margin-bottom: 20px;
	padding: 0;
}
.product-grid .list-des {
    display: none;
}
.list-des{
	text-transform: capitalize;
	color: #282828;
	max-height: 40px;
	overflow: hidden;
}
.product-list .caption h4 a{
	font-size: 18px;
}
/* pagination */
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #2a5390;
    border-color: #2a5390;
}
.pagination > li > a, .pagination > li > span {
    color: #2a5390;
    padding: 7px 12px 5px 12px;
    border: 1px solid #ececec;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    color: #fff;
    background-color: #2a5390;
    border-color: #2a5390;
}
.pagi .tot{
	line-height: 34px;
}
/* checkout page */
.panel-default > .panel-heading {
	border-color: #2a5390;
	text-transform: capitalize;
	font-family: 'Poppins-Medium';
	font-size: 14px;
	letter-spacing: 1px;
	margin: 0;
	color: #fff !important;
	background-color: #2a5390;
	padding: 8px 10px;
	border-radius: 4px;
}

.table {
    background-color: #fff;
}
.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border-bottom-width: 1px;
}
.table-bordered {
    border: 1px solid #ebebeb;
}
.acpage h2, .acpage h1,.not-found-head{
    font-size: 18px;
    color: #212121;
    text-transform: capitalize;
    margin-top: 0;
}
thead {
    font-family: 'Poppins-Medium';
}
#checkout-cart table .btn{
	padding: 5px 10px;
}
.reb .btn{
	padding: 5px 10px;
}
#button-coupon,#button-voucher {
    padding: 5px 12px;
}
/* account page */
@media(min-width: 1200px){
	.acpage #content {
	    width: 60%;
	}
	.acpage #column-right{
		width: 20%;
	}
}
.accolor {
    margin-top: -10px;
    padding: 10px 5px !important;
    line-height: 25px;
}
.achead {
    font-size: 18px;
    color: #fff !important;
    background-color: #2a5390;
    padding: 8px 10px;
    border-radius: 4px;
}
.acco{
	background-color: #fff;
	padding: 10px !important;
	border: 1px solid #ebebeb;
	border-radius: 4px;
}
.table-hover > tbody > tr:hover {
    background-color: #fff;
}
.well {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: none;
}
#column-right .list-group a {
    border-top: 1px solid #ebebeb;
}
#column-right .list-group a:hover {
    color: #2a5390;
    background-color: #fff;
}
.vobtn{
	padding: 5px 10px !important;
}
#information-sitemap a {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 30px;
}
.co-heading{
	margin-top: 0;
	font-size: 18px;
	color: #2a5390;
}
#information-contact .img-thumbnail{
	border: none;
	padding: 0;
}
.com-summary {
    width: 1%;
}
.com-description {
    width: 25%;
}
.brand-list .brands-content {
    padding: 8px;
}
.bname {
    background: none repeat scroll 0 0 #f8f8f8;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 6px 0;
    padding: 5px 8px;
}
.brand-list {
    border: 1px solid #ebebeb;
    padding: 5px;
    margin-bottom: 20px;
    background-color: #fff;
}
/*loader start */
#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 64px;
    width: 64px;
    margin-left: -30px;
}
#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: -1;
    opacity: 0;
    -moz-transition: all 1.3s ease 0.3s;
    -o-transition: all 1.3s ease 0.3s;
    -webkit-transition: all 1.3s ease 0.3s;
    transition: all 1.3s ease 0.3s;
    overflow: hidden;
}
#page-preloader.visible {
    opacity: 1;
    z-index: 100500;
    overflow: hidden;
}
#page-preloader .preloader {
    position: absolute;
    left: 50%;
    top: 45%;
    text-align: center;
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 0;
}
#page-preloader.visible .preloader {
    opacity: 1;
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.object{
	position: absolute;
    top: 0px;
    z-index: 4;
    background: url('../../../../../image/catalog/loader.gif') 50% 50% no-repeat;
    height: 90px;
    width: 90px;
    margin-left: -15px;
}
#page-preloader{
    display: none;
}
#page-preloader{
    display: block;
}
.search-page {
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    margin: 10px 0;
    padding: 10px 15px;
}
.valign{
	vertical-align: middle !important;
}
.submenu-title{
	font-weight:600;
	font-size: 14px;
	line-height: 22px;
	position: relative;
	margin: 0 0 5px;
	padding: 4px 0;
}