  <h3 class="allheading">Our Tools</h3>
  <div class="pro-nepr logo-slider">
  <div id="carousel{{ module }}" class="owl-carousel owl-theme">
    {% for banner in banners %}
      <div class="text-center">{% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />{% endif %}</div>
      {% endfor %}
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
    $("#carousel{{ module }}").owlCarousel({
    itemsCustom : [
    [0, 2],
    [600, 4],
    [768, 5],
    [992, 6],
    [1200, 7]
    ],
      autoPlay: 2500,
      loop: true,
      navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
      navigation : true,
      pagination:false
    });
    });
</script>