<div class="leftprobu">
<h3 class="left-heading">{{ onsale_title }}</h3>

{% set temp = 0 %}
{% set setCol = 3 %}

  <div id="onsale" class="owl-theme owl-carousel">

 {% for product in products %}
        {% set temp = temp + 1 %}

        {% if temp % setCol == 1 %}
            <div class="multi-row">
        {% endif %}
<!-- writ code Here -->
  <div class="product-layout leftpro">
    <div class="product-thumb1 transition">
      <div class="row">
      <div class="image col-sm-5 col-xs-4"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive center-block" /></a>
          <!-- Webiarch Images Start -->
                 {% set t = 0 %}
                  {% for more_image in product.more_images %}
                  {% for pop in more_image %}
                  {% if t == 0 %}
                    <a href="{{ product.href }}"><img src="{{ pop.popup_more }}" class="img-responsive second-img" alt="hover image"/></a>
                  {% set t = t + 1 %}
                    {% endif %}

                  {% endfor %}
                  {% endfor %}

          <!-- End -->
      </div>
      <div class="caption col-sm-7 col-xs-8">
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
        {# <p>{{ product.description }}</p> #}
        {% if product.price %}
        <p class="price">
          {% if not product.special %}
          {{ product.price }}
          {% else %}
          <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
          {% endif %}
          {# {% if product.tax %}
          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
          {% endif %} #}
        </p>
        {% endif %}
         {% if product.rating %}
          <div class="rating">
            {% for i in 1..5 %}
            {% if product.rating < i %}
            <span class="fa fa-stack">
              <i class="fa fa-star-o fa-stack-2x"></i>
            </span>
            {% else %}
            <span class="fa fa-stack">
              <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
            </span>
            {% endif %}
          {% endfor %}</div>{% else %}
          <div class="rating">{% for i in 1..5 %}
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% endfor %}</div>
        {% endif %}
      </div>
     {#  <div class="button-group">
        <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
        <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
        <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
      </div> #}
    </div>
  </div>
  </div>
<!-- writ code Here End -->
 {% if temp % setCol == 0 %}
            </div>
        {% endif %}

  {% endfor %}

  {% if products|length % setCol != 0 %}
    <!-- <h1>hii</h1> -->
        </div>
    {% endif %}

  </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
    $("#onsale").owlCarousel({
    itemsCustom : [
    [0, 1],
    [600, 2],
    [768, 1]
    ],
      // autoPlay: 1000,
      navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
      navigation : true,
      pagination:false
    });
    });
</script>