<div class="sellbanner">
	<div class="row">
			{% for banner in banners %}
				<div class="col-sm-6 col-xs-12">
				<div class=" beffect">
				  {% if banner.link %}
				  	<a href="{{ banner.link }}">
				  		<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive center-block" />
				  		<span class="hover">
			              <span class="r1"></span>
			              <span class="r2"></span>
			              <span class="r3"></span>
			              <span class="r4"></span>
			            </span>
				  	</a>
				  {% else %}
				  	<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive center-block" />{% endif %}
				</div>
		    </div>
			  {% endfor %}
	</div>
</div>