<h3 class="allheading">{{ heading_title }}</h3>

{% set temp = 0 %}
{% set setCol = 2 %}
<div class="specialpro pro-nepr">
  <div id="special" class="owl-theme owl-carousel">
  {% for product in products %}
        {% set temp = temp + 1 %}

        {% if temp % setCol == 1 %}
            <div class="multi-row">
        {% endif %}
<!-- writ code Here -->
  <div class="product-layout">
    <div class="product-thumb transition">
      <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive center-block" /></a>
      <!-- Webiarch Images Start -->
              {% set t = 0 %}
                {% for webi_image in product.webi_images %}
                {% if t == 0 %}
                 <a href="{{ product.href }}"><img src="{{ webi_image.popup }}" class="img-responsive second-img" alt="hover image"/></a>
                {% set t = t + 1 %}
                {% endif %}
              {% endfor %}
      <!-- Webiarch Images End -->
        {% if product.price %}
          {% if product.special %}
               <img src="image/catalog/sale.png" alt="sale" class="saleen">
               <img src="image/catalog/salertl.png" alt="sale" class="salertl">
          {% endif %}
      {% endif %}
      </div>
      <div class="caption">
        
        {# <p>{{ product.description }}</p> #}
        {% if product.rating %}
          <div class="rating">
            {% for i in 1..5 %}
            {% if product.rating < i %}
            <span class="fa fa-stack">
              <i class="fa fa-star-o fa-stack-2x"></i>
            </span>
            {% else %}
            <span class="fa fa-stack">
              <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
            </span>
            {% endif %}
          {% endfor %}</div>{% else %}
          <div class="rating">{% for i in 1..5 %}
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% endfor %}</div>
        {% endif %}
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
        {% if product.price %}
        <p class="price"> {% if not product.special %}
          {{ product.price }}
          {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
         {#  {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %}  #}</p>
        {% endif %} </div>
     <div class="button-group">
        <button type="button" onclick="cart.add('{{ product.product_id }}');" class="acart"><svg><use xlink:href="#cart" /></svg>  
          <span class="hidden-xs">{{ button_cart }}</span>
        </button>
        <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');" class="wishcom"><i class="fa fa-heart-o"></i><span class="hidden-xs">{{ button_wishlist }}</span></button>
        <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');" class="wishcom"><i class="fa fa-compress"></i><span class="hidden-xs">{{ button_compare }}</span></button>
      </div>
    </div>
  </div>
  <!-- writ code Here End -->
 {% if temp % setCol == 0 %}
            </div>
        {% endif %}
  {% endfor %} 

   {% if products|length % setCol != 0 %}
    <!-- <h1>hii</h1> -->
        </div>
    {% endif %}

</div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
    $("#special").owlCarousel({
    itemsCustom : [
    [0, 1],
    [375, 2],
    [768, 2],
    [992, 3],
    [1200, 4]
    ],
      // autoPlay: 1000,
      navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
      navigation : true,
      pagination:false
    });
    });
</script>