<div class="webi-newsletter {{ prefix }} webi-newsletter" id="newsletter_{{ id }}" data-mode="{{ mode }}">
		<form id="formNewLestter" method="post" action="{{ action }}" class="formNewLestter newsletter-bg" {% if banner is not empty%} style="background-image: url('{{ banner }}')" {% endif %}>
			<div class="inner">
				<img src="image/catalog/newsletter/icon.png" class="center-block">
				<h3 >{{ entry_newsletter }}</h3>
				<hr>
				<div class="description-top">
					<p>{{ description }}</p>
				</div>
				<div class="form-group">
					<input type="text" class="form-control input-md inputNew" {% if customer_email is not defined %} onblur="javascript:if(this.value=='')this.value='{{ default_input_text }}';" onfocus="javascript:if(this.value=='{{ default_input_text }}')this.value='';"{% endif %} value="{{ customer_email? customer_email : default_input_text }}" size="18" name="email">
				</div>
				<div class="button-submit">
					<button type="submit" name="submitNewsletter" class="btn btn-danger">{{ button_subscribe }}</button>
				</div>	
				<input type="hidden" value="1" name="action">
				<div class="valid"></div>
				<div class="description-bottom">
					{{ social }}
				</div>
			</div>
		</form>
</div>

<script type="text/javascript"><!--
$("#newsletter_{{ id }}").webiNewsletter().work(  '{{ valid_email }}' );
--></script>